#Better-Desk{
    position: relative;
    width: 1439px;
    height: 4483px;
    background: #ffff;
}

#Header{
    box-sizing: border-box;
    position: absolute;
    width: 1440px;
    height: 684px;
    left: 0px;
    top:0px;
    
    background: #3e3e58;
}

.group_fouder{
    box-sizing: border-box;
    position:absolute;
    width: 1440px;
    height: 105px;
    left: 0px;
    top:592px;
    background: #f9fafa;
    border: 1px solid #eeee;
}

.logo_text h2{
    font-size: 1.5rem;
    position: absolute;
    top: 38px;
    left:248px;
    color: #FFFFFF;
    margin-left: 10px;
}

.logo{
    display: flex;
    justify-content: flex-start;
    padding:20px 50px;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    position: absolute;
    width: 973px;
    height: 45px;
    left: 231px;
    top: 27px;
}

.nav .nav_link li{
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

.nav_link ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .nav_link ul li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size:14px;
    line-height: 14px;
    
    opacity: 0.5;
}


.active {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #ffff;
    padding-bottom: 10px;
    border-bottom:1px solid #3DBDB6 ;
}

button{
    box-sizing: border-box;
    width: 90px;
    height: 38px;
    border: 1px solid #9797;
    border-radius: 4px;
    background-color: #3e3e58;
    color : #ffff;
    opacity: 0.5;
}

.Heading_Text{
    display: flex;
    align-items: Center;
    position: absolute;
    width: 343px;
    height: 162px;
    top:182px;
    left:231px;
}

.Heading_Text>h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    color: #fff;
}

.sign_up {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 231px;
    top: 391px;
}

input[type="email"]{
    width: 302px;
    height: 52px;
    background: #fff;
    opacity: 0.2;
    box-shadow: 0px 0px 8px rgba(177,177,177,0.5);
    text-transform: uppercase;
    font-weight: bold;
    text-indent: 10px;
}
input[type="submit"]{
    width: 120px;
    height: 52px;
    background-color: #3DBDB6;
    box-shadow: 0px 1px 6px #4449a4;

}

input[type="submit"]:hover{
    background: #dadada;
}

.Img_Heading{
    position: absolute;
    width: 715px;
    height: 511px;
    left: 725px;
    top:162px;
    background: #3DBDB6;
    background-image: url(img/Header_img.png);
    background-size: cover;
}

.group{
    position: absolute;
    width: 703px;
    height: 29px;
    left: 369px;
    top:39px;
    
}
.basecam_img{
    position: absolute;
    width: 123px;
    height: 29px;
    left:0px;
}
.grubhub_img{
    position: absolute;
    width: 81px;
    height: 29px;
    left: 159px;
}
.trello_img{
    position: absolute;
    width: 81px;
    height: 29px;
    left: 300px ;
}
.buffer_img{
    position: absolute;
    width: 95px;
    height: 29px;
    left : 456px;
}
.pocket_img {
    position: absolute;
    width: 95px;
    height: 29px;
    left: 600px;
}

.logo_box{
    box-sizing: border-box;
    position: absolute;
    width: 25px;
    height: 24px;
    left: 231px;
    top:60px;
    background: #3DBDB6;
    border-radius: 9px; 
}

.logo_box .smile {
    position: absolute;
    width: 11.72px;
    height: 4.21px;
    background: #dadada;
    top: 13.36px;
    left: 7px;
    
}

.logo_box .eye1{
    position: absolute;
    width: 2.51px;
    height: 2.53px;
    top: 7.25px;
    left: 8.05px;
    background:#dadada;
    border-radius: 50%;

}

.logo_box .eye2{
    position: absolute;
    width: 2.51px;
    height: 2.53px;
    top:  7.25px;
    right: 7.23px;
    background: #dadada;
    border-radius: 50%;
}

/* -- Customer Support -- */
#Customer_Support{
    position: absolute;
    width: 764px;
    height: 349px;
    left: 335px;
    top:780px;
    /*background-color: #0089ce;*/
}

.Customer_Support_title{
    display: flex;
    justify-content: center;
}
.Customer_Support_title p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.00625em;
    text-align: center;
    color: #333333;
    width: 589px;
    height: 88px;
}
.Customer_Support_img{
    display: flex;
    justify-content: space-around;
    
}

.Customer_Support_img .left{
    box-sizing: border-box;
    width: 99px;
    height: 99px;
    background: linear-gradient(131.99deg, #3DBDB6 5.64%, #0089CE 100%);
    border-radius: 60%;
    
   
}
.Customer_Support_img .center {
    width: 99px;
    height: 99px;
    background: linear-gradient(308.7deg, #7A86CC 8.85%, #9FACF8 100%);
    border-radius: 60%;
    
}
.Customer_Support_img .right{
    width: 99px;
    height: 99px;
    background: linear-gradient(180deg, #F3778F 0%, #F26A95 44.25%, #F15A9D 100%);
    border-radius: 60%;
    
}

.left .Phone{
    margin-left :33.31px;
    margin-top:33.31px;
}
.center .Color_colum{
    margin-left: 33.31px;
    margin-top: 33.31px;
}
.right .Message {
    margin-left:33.31px;
    margin-top:33.31px;
}
.Customer_Support_img_title{
    display: flex;
    justify-content: space-around;
}
.Customer_Support_img_title p {
    width: 76px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.025em;
    color: #333333;
    text-align: center;
}
.Customer_Support_img_content{
    display: flex;
    justify-content: space-around;
}
.Customer_Support_img_content p{
    width: 202px;
    height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.00625em;
    color: #72808e;
}

.Customer_Support_img_link{
    display: flex;
    justify-content: space-around;
}

.Customer_Support_img_link a{
    width: 71px;
    height: 17px;
    font-family: 'Roboto';
    font-size: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color:#2d8cff;
    text-decoration: none;
}

/* -- BODY 2 -- */

#BetterDesk{
    box-sizing: border-box;
    position: absolute;
    width: 1442px;
    height: 825px;
    left:1px ;
    top:1209px;
    background: linear-gradient(131.99deg, #3DBDB6 5.64%, #0089CE 100%);;
}
.BetterDesk_title{
    display: flex;
    justify-content: center;
}
.BetterDesk_title h3{
    width: 282px;
    height: 47px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color :#ffff;
    
}
.BetterDesk_content{
    display: flex;
    justify-content: center;
}
.BetterDesk_content >p {
    width: 1089px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #ffff;
}

.BetterDesk_group{
    width: 502px;
    height: 164px;
    background: rgba(24, 144, 164, 0.5);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0965523);
    border-radius: 3px;
    position: absolute;
    top:320px;
    left: 156px;
}
.BetterDesk_group_title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.BetterDesk_group_title > h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color:#ffff;
    margin-left: 34px;
}
.BetterDesk_group_title > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #ffff;
    margin-left: 34px;
    width: 443px;
    height: 60px;
    margin-bottom: 32px;
}
.BetterDesk_list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left:190px;
    top:510px;
}
.BetterDesk_list >p{
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color:#fff;
}
.BetterDesk_todolist {
    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 461px;
    left:749px;
    top:274px;
    background: #fff;
    border-radius: 8px;
}
