:root {
    --text-font-size: 10px;
    --text-line-height: 12px;
    --text-font-style: "normal";
    --text-font-weight: 400;
    --title-font-size: 20px;
    --title-line-height: 27px;
    --button-background-color: #21408e;
    --button-border-radius: 10px;
    --button-color: #fff;
    --title-color: #000;
    --subtitle-line-height: 14px;
    --input-width: 69px;
    --input-height: 16px;
    --input-background: #fff9f9;
    --input-radius: 26px;
    --input-border: 1px solid black;
    --item-header-height: 145.89px;
    --item-header-background: #faf5f8;
    --item-header-radius: 21px 21px 0px 0px;
    --list-item-height: 23px;
    --tablet-font-size: 35px;
    --tablet-line-height: 48px;
    --item-brand-height: 23px;
    --desktop-size: 45px;
    --desktop-height: 62px;
    --footer-tablet-size: 25px;
    --footer-tablet-height: 29px;
    --footer-desktop-height: 38px;
    --footer-size: 15px;
    --footer-height: 21px;
    --transform: capitalize;
}
