@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto-Light.otf");
}
@font-face {
    font-family: "DM Serif Display";
    src: url("../../assets/fonts/DMSerifDisplay-Regular.otf");
}
@font-face {
    font-family: "Bodoni MT";
    src: url("../../assets/fonts/LibreBodoni-Regular.otf");
}
