.todoapp input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: var(--weightText);
    color: var(--colorInput);
}

.todoapp input::-moz-placeholder {
    font-style: italic;
    font-weight: var(--weightText);
    color: var(--colorInput);
}

/* .todoapp input::input-placeholder {
	font-style: italic;
	font-weight: var(--weightText);
	color: var(--colorInput);
} */
