@import url('../abstracts/_variable.css');

a{
    color:var(--colorLink);
    font-size: var(--sizeText);
    line-height: var(--lineBreak);
    text-decoration: none;
    display: inline;
}

a:hover{
    color:var(--colorLinkHover);
}