body{
    height: 100vh;
    background-color: bisque;
}
.row {
    text-align: center;
    
}
.col {
    background-color: gray;
    height: 50px;
    text-align: center;
}



@media screen and (min-width:993px){
    .side{
        height: 380px;
    }
    .text{
        height:200px;
    }
}