@import url(../bases/fonts.css);
@import url(../bases/refactor.css);

.header-top {
  display: flex;
  height: 31px;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.header-top-title {
  flex-grow: 1;
}
ul {
  display: none;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  flex-grow: 2;
}
.header-top-signed {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
}
.header-top h1 h2 {
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--text-line-height);
  color: var(--title-color);
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
  max-width: 100%;
}
.banner-title {
  position: absolute;
  right: 16px;
  bottom: 6px;
  width: 85px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.banner-title h2 {
  font-family: var(--title-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  line-height: var(--subtitle-line-height);
  text-transform: capitalize;
  color: var(--title-color);
}
.banner-title p {
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  color: var(--title-color);
}
.banner-title button {
  width: 41px;
  height: 12px;
  font-size: 6px;
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  line-height: 7px;
}
@media screen and (min-width: 908px) {
  .header-top-title {
    font-size: 24px;
    line-height: 28px;
  }
  .header-top-signed h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .header-top-signed img {
    width: 33.26px;
    height: 35.79px;
    align-items: center;
  }
  .header-top-menu img {
    width: 37.5px;
    height: 25px;
  }
  .header-top {
    height: 60.26px;
  }
  nav {
    justify-content: space-between;
    align-items: center;
  }
  .header-top-title {
    flex: 60%;
  }

  .banner-title {
    right: 24px;
    bottom: 95px;
    width: 182px;
    height: 80px;
  }
  .banner-title h2 {
    font-size: 20px;
    line-height: 27px;
  }
  .banner-title p {
    width: 164px;
    height: 38px;
    font-size: 12px;
    line-height: 19px;
  }
  .banner-title button {
    font-size: 12px;
    line-height: 15px;
    width: 89px;
    height: 25px;
  }
}
@media screen and (min-width: 1440px) {
  .header-top-title h2 {
    font-size: 24px;
    line-height: 28px;
    width: 146px;
    height: 43px;
  }
  .header-top-menu ul li {
    font-size: 24px;
    line-height: 28px;
  }
  .header-top-signed h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .header-top-sign img {
    width: 33.33px;
    height: 33.33px;
  }
  .header-top {
    height: 71.92px;
    margin-bottom: 34.8px;
  }
  .header-top-signed {
    order: 1;
  }
  ul {
    display: flex;
    order: 2;
  }
  .header-top-menu img {
    display: none;
  }
  .header-top-menu ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  .header-top-menu ul li a {
    text-decoration: none;
    color: #000;
    font-weight: var(--title-font-weight);
    font-style: normal;
    line-height: 14px;
  }
  .active {
    border-bottom: 2px solid #f1bc00;
  }
  nav {
    align-items: center;
    justify-content: center;
  }
  .header-top-title {
    flex: 30%;
  }
  .header-top {
    justify-content: space-around;
    padding-left: 121px;
  }
  .banner-title {
    right: 150px;
    bottom: 117px;
    height: 200px;
    width: 180px;
  }
  .banner-title h2 {
    height: 85px;
    font-size: 32px;
    line-height: 44px;
    width: 308px;
  }
  .banner-title p {
    width: 268px;
    height: 60px;
    font-size: 26px;
    line-height: 30px;
  }
  .banner-title button {
    width: 158px;
    height: 41px;
    font-size: 22px;
    line-height: 26px;
    border-radius: 26px;
  }
}
