@import url(../bases/fonts.css);
@import url(../bases/refactor.css);

.header-top {
  display: flex;
  height: 31px;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.header-top-title {
  flex-grow: 1;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  flex-grow: 2;
}
.header-top-signed {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
.header-top h1 h2 {
  font-family: var(--text-font-family);
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--text-line-height);
  color: var(--title-color);
}
.header-body{
    height: 189px;
    background-image: url('../../imgs/header/banner-img.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    width: 100%;
    position: relative;
}
.header-body-title{
    height: 80px;
    width: 130px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right:0;
    bottom: 10;
}

@media screen and (min-width: 415px) {
  nav {
    justify-content: space-between;
  }
  .header-top-title {
    flex: 60%;
  }
  
}

@media screen and (min-width: 909px) {
}
