@import url(../bases/fonts.css);
@import url(../bases/refactor.css);

.subscribe-body {
    height: 160px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #f1bc00;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.subscribe-body h2 {
    height: 36px;
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    text-transform: var(--transform);
    color: var(--title-color);
    text-align: center;
}
.subscribe-body-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    background: #e5e5e5;
    height: 31px;
    border-radius: 10px;
    width: 344px;
}
.subscribe-body-form input[type="email"] {
    outline: none;
    border: none;
    text-indent: 10px;
    background: #e5e5e5;
}

.subscribe-body-form button {
    width: 56.53px;
    height: 21px;
    right: 0px;
    margin-right: 10px;
}

@media screen and (min-width: 908px) {
    .subscribe-body {
        height: 212px;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    .subscribe-body h2 {
        height: 50px;
        font-size: var(--tablet-size);
        line-height: var(--tablet-height);
    }
    .subscribe-body-form {
        width: 381.12px;
        height: 50px;
    }
    .subscribe-body-form input[type="email"] {
        font-size: 18px;
        line-height: 21px;
    }
    .subscribe-body-form button {
        height: 31px;
        width: 76px;
        font-size: 18px;
        line-height: 21px;
    }
}
@media screen and (min-width: 1440px) {
    .subscribe-body {
        height: 202px;
    }
    .subscribe-body-form {
        width: 631px;
        height: 61px;
    }
    .subscribe-body-form input[type="email"] {
        font-size: var(--title-size);
        line-height: var(--list-item-height);
    }
    .subscribe-body-form button {
        height: 57px;
        font-size: 30px;
        line-height: var(--tablet-size);
        width: 127px;
        top: 0px;
        right: 80px;
    }
}
