@import url("../bases/fonts.css");
@import url("../bases/refactor.css");

.subscribe-header {
  height: 300px;
  margin-left: 15px;
  margin-right: 15px;
  background-image: url("../../imgs/subcribe-top/subcribe-img.png");
  background-repeat: no-repeat;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 12px;
  max-width: 100%;
}

.subscribe-header h2 {
  height: 77px;
  color: var(--button-color);
  font-family: "DM Serif Display";
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--title-font-size);
  line-height: var(--title-line-height);
  text-transform: capitalize;
  width: 80%;
}

.subscribe-form h3 {
  font-family: "Roboto";
  font-style: var(--text-font-style);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  line-height: var(--text-line-height);
  color: var(--button-color);
  text-transform: capitalize;
  margin-bottom: 6px;
  height: 12px;
}

.subscribe-form input {
  display: inline-block;
  box-sizing: border-box;
}
.subscribe-form {
  position: relative;
  width: 80%;
}
.subscribe-form input[type="email"] {
  width: 90%;
  height: 27px;
  background: #e5e5e5;
  border-radius: 10px;
  border: 1px solid black;
  text-indent: 10px;
}

.subscribe-form input[type="submit"] {
  position: absolute;
  width: 55px;
  height: 21px;
  right: 40px;
  top: 21px;
}

@media screen and (min-width: 908px) {
  .subscribe-header {
    height: 510px;
    margin-left: 40px;
    margin-right: 40px;
  }
  .subscribe-header h2 {
    height: 98px;
    font-size: var(--tablet-font-size);
    line-height: var(--tablet-line-height);
  }
  .subscribe-form h3 {
    font-size: var(--title-font-size);
    line-height: var(--item-brand-height);
    margin-bottom: 14px;
  }
  .subscribe-form input[type="email"] {
    height: 56px;
    font-size: var(--title-font-size);
    line-height: var(--item-brand-height);
  }
  .subscribe-form input[type="submit"] {
    width: 105px;
    height: 42px;
    top: 33px;
    right: 70px;
    font-size: var(--title-font-size);
    line-height: var(--item-brand-height);
  }
}
@media screen and (min-width: 1440px) {
  .subscribe-header {
    height: 510px;
    background-size: cover;
  }
  .subscribe-header h2 {
    height: 162px;
    font-size: var(--desktop-size);
    line-height: var(--desktop-height);
    width: 55%;
  }
  .subscribe-form h3 {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 25px;
  }
  .subscribe-form input[type="email"] {
    height: 93px;
    font-size: 30px;
    line-height: var(--tablet-font-size);
  }
  .subscribe-form input[type="submit"] {
    width: 170px;
    height: 87px;
    right: 119px;
    top: 40px;
    font-size: 30px;
    line-height: 35px;
  }
}
